@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo à Plataforma de Gerenciamento de Cartas</h1>
    <p>A nossa plataforma oferece uma solução completa para gerenciar e controlar todas as suas cartas de forma eficiente.</p>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h2>O que oferecemos</h2>
            <p>Nossa plataforma permite que você organize, pesquise e visualize todas as informações relacionadas às suas cartas. Com recursos avançados de pesquisa e categorização, você pode encontrar facilmente as cartas que precisa para seus projetos.</p>
        </div>
        <div class="col-md-6">
            <img src="https://th.bing.com/th/id/R.ff579882cc1984671cfbf937e5623be8?rik=FXiiEo5JPgs6uQ&riu=http%3a%2f%2fwallpapercave.com%2fwp%2f1HNuyzn.jpg&ehk=AB7IqRNrCEgM1ZeE%2fQX1H4D%2b8Zx9wjuyVT19dHN%2b2KI%3d&risl=&pid=ImgRaw&r=0" alt="Banner 1" class="img-fluid">
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="https://cdn.discordapp.com/icons/617081823658246260/1f62957f7fc01b4b4fa77269ca3e9afc.png?size=512" alt="Banner 2" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h2>Recursos Avançados</h2>
            <p>Nossos recursos avançados incluem:</p>
            <ul>
                <li>Gestão de imagens das cartas.</li>
                <li>Detalhes completos sobre cada carta, incluindo nome, tipo e descrição.</li>
                <li>Informações sobre a coleção da carta e o ilustrador.</li>
                <li>Links para a página oficial de cada carta.</li>
            </ul>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h2>Como Começar</h2>
            <p>Comece a usar nossa plataforma agora mesmo:</p>
            <ol>
                <li>Faça o login na sua conta.</li>
                <li>Adicione suas cartas à biblioteca.</li>
                <li>Explore as funcionalidades avançadas para organizar suas cartas.</li>
                <li>Desfrute de um controle completo sobre suas cartas!</li>
            </ol>
        </div>
        <div class="col-md-6">
            <img src="https://th.bing.com/th/id/OIP.Z7CurXmaKg6g61_sp3Y_HwHaEo?pid=ImgDet&rs=1" alt="Banner 3" class="img-fluid">
        </div>
    </div>
</div>
